<header>
    <div class="navbar navbar-dark shadow-sm bg-custom-2">
        <div class="navbar-brand align-item-center d-flex">
            <div>
                <i style="font-size: 40px; margin: 0 10px;" class="fas fa-shipping-fast">&nbsp;
                </i>
                <strong>Your Beauty Product is  Here !..</strong>
            </div>
            <!-- <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
                <span class="fas fa-search search-icon"></span>
            </div> -->
            


           
        </div>
        
        <div *ngIf="this.AuthService.isloggedin === false; else issignedin"  >
            <button routerLink="signIn" class="btn btn-signIn">Sign In</button>
            <button routerLink="signUp" class="btn btn-signUp" style="margin: 0 10px;">Sign Up</button>
        </div>

        <ng-template #issignedin>
            <div class="align-item-center d-flex">
                <span>{{AuthService.user.username}}</span>
                <button routerLink="cart" class="btn btn-cart">
                <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
                <div style="font-size: 10px;" class="badge">{{totalItem}}</div>
                        </button>
                
                <button class="btn btn-signOut" (click)="onLogoutClick()">Sign Out</button>
            </div>
        </ng-template>

        
    </div>
</header>
<router-outlet></router-outlet>