.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    box-shadow: 5px 10px 8px 10px #be5c5c;
    border-radius: 25%;
}

.item img {
    width: 64px;
}

.item {
    margin: 20px 15px;
    text-align: center;
}

.item a:hover {
    cursor: pointer;
    margin-top: 30px;
}

.card {
    padding: 20px;
    margin: 50px;
    box-shadow: 5px 10px 8px 10px #c2a7a7;
    border-radius: 25%;
}

.card img {
    border-radius: 25%;
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
    margin: 0 auto 15px auto;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.btn {

    &-addCart {
        border: 1px solid #d6d8da;
        transition: .2s ease-in;
        background-color: #b65151;
        border-radius: 30%;
    }

    &-addCart:hover {
        background-color: #393E46;
        color: #fff;
        transition: .2s ease-out;
        transform: scale(1.45);
    }
}